In [1]:
import json

In [2]:
with open('combined files\\cleaned_and_combined_hyd.json','r') as file:
    json_data=json.load(file)
print(json_data[777])

{'text data': 'Name: PAGE Junior College~Category: Day Schools~Location: Aditya Court, 8-2-334/K, Rd Number 3, Green Valley, Banjara Hills, Hyderabad, Telangana 500034, India~Faculty: ~Sports: ~Amenities: Transport~Board: State Board~Years: 11~Fee: 50000~Since: 1988~Strength: 600~', 'Board': 'State Board', 'Sports': '', 'Category': 'Day Schools', 'Fee': [50000], 'Since': 1988, 'Faculty': '', 'Location': 'Aditya Court, 8-2-334/K, Rd Number 3, Green Valley, Banjara Hills, Hyderabad, Telangana 500034, India', 'Strength': 600, 'Years': [11], 'Name': 'PAGE Junior College', 'Amenities': 'Transport', 'Id': 778}

In [3]:

location_set=set(['gachibowli','banjara','begumpet','dilsukhnagar',
              'himayatnagar','jubilee','kondapur','kukatpally','madhapur',
              'miyapur','patancheruvu','secunderabad','uppal'])

In [4]:
amenities_set=set()
sports_set=set()
board_set=set()
category_set=set()
for dictionary in json_data:
    amenities_set=amenities_set.union(set(list(map(str,dictionary['Amenities'].split(', ')))))
    sports_set=sports_set.union(set(list(map(str,dictionary['Sports'].split(', ')))))
    category_set=category_set.union(set(list(map(str,dictionary['Category'].split(', ')))))
    board_set=board_set.union(set(list(map(str,dictionary['Board'].split(', ')))))
amenities_set.discard('')
sports_set.discard('')
category_set.discard('')
board_set.discard('')
board_set.discard('LKG - LKG')
print(sports_set,amenities_set,board_set,category_set,sep='\n')

{'Archery', 'Athletics', 'Boxing', 'Swimming', 'Tennis', 'Taekwondo', 'Checkers', 'Volleyball', 'Badminton', 'Cycling', 'Hockey', 'Football', 'Kabaddi', 'Skating', 'Golf', 'Soccer', 'Lawn Tennis', 'Kho-Kho', 'Carroms', 'Cricket', 'Handball', 'Billiards', 'Horseback Riding', 'Basketball', 'Table-tennis', 'Karate', 'Tennikoit', 'Polo', 'Gymnastics', 'Ice-Hockey', 'Throwball', 'Yoga', 'Rock-climbing', 'Squash', 'Chess'}
{'Library', 'Computers Facility', 'Medical Facility', 'Transport', 'Smart Classrooms', 'Laboratory'}
{'ICSE', 'Other Boards', 'IGCSE', 'Other', 'Montessori', 'International Baccalaureate', 'CBSE', 'Cambridge IGCSE', 'CIE', 'State Board'}
{'Govt Schools', 'Special Education Schools', 'Day cum Boarding Schools', 'Play Schools', 'Other', 'Special Education', 'International Schools', 'Boarding Schools', 'Public Schools', 'Other Collections', 'Day Schools'}

In [5]:
board_set.discard('Other')
board_set.discard('Other Boards')
print(board_set)
category_set.discard('Other')
category_set.discard('Other Collections')
category_set.discard('Day cum Boarding Schools')
category_set.discard('Special Education')
print(category_set)

{'ICSE', 'IGCSE', 'Montessori', 'International Baccalaureate', 'CBSE', 'Cambridge IGCSE', 'CIE', 'State Board'}
{'Govt Schools', 'Special Education Schools', 'Play Schools', 'International Schools', 'Boarding Schools', 'Public Schools', 'Day Schools'}

In [6]:

def generate_test_cases(json_data, var1_set, var2_set, var1_name, var2_name):
    test_cases = []

    for var1 in var1_set:
        if var1_name=="location":
            pass
        for var2 in var2_set:
            ans = []
    
            # Construct query based on variable names
            if var1_name == 'board' and var2_name == 'location':
                query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board schools in {var2}"
            
            elif var1_name == 'board' and var2_name == 'amenities':
                query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board schools with {var2}"
                
            elif var1_name == 'board' and var2_name == 'sports':
                query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board schools with {var2}"
                
            elif var1_name == 'board' and var2_name == 'category':
                query = f"{var2.replace('Schools','')} schools with {var1.replace('board','').replace('Boards','').replace('Board','')} board"
                
            elif var1_name == 'category' and var2_name == 'location':
                query = f"{var1.replace('Schools','')} schools in {var2}"
                
            elif var1_name == 'category' and var2_name == 'amenities':
                query = f"{var1.replace('Schools','')} schools with {var2}"
                
            elif var1_name == 'category' and var2_name == 'sports':
                query = f"{var1.replace('Schools','')} schools with {var2}"
                
            elif var1_name == 'location' and var2_name == 'amenities':
                query = f"schools in {var1} with {var2}"
                
            elif var1_name == 'location' and var2_name == 'sports':
                query = f"schools in {var1} with {var2}"
                
            elif var1_name == 'amenities' and var2_name == 'sports':
                query = f"schools with {var1} and {var2}"
            
            else:
                query = f"schools with {var1} and {var2}"

            for dictionary in json_data:
                if var1.lower() in dictionary[var1_name.capitalize()].lower() and var2.lower() in dictionary[var2_name.capitalize()].lower():
                    ans.append(dictionary["Id"])
            
            if len(ans) != 0:
                test_cases.append({"query": query, "ans": ans})

    return test_cases

In [7]:
test_cases = []
sets_and_names = [
    (board_set, location_set, 'board', 'location'),
    (board_set, category_set, 'board', 'category'),
    (board_set, amenities_set, 'board', 'amenities'),
    (board_set, sports_set, 'board', 'sports'),
    (category_set, location_set, 'category', 'location'),
    (category_set,amenities_set,'category','amenities'),
    (category_set, sports_set, 'category', 'sports'),
    (location_set, amenities_set, 'location', 'amenities'),
    (location_set, sports_set, 'location', 'sports'),
    (amenities_set, sports_set, 'amenities', 'sports')    
]

for var1_set, var2_set, var1_name, var2_name in sets_and_names:
    test_cases.extend(generate_test_cases(json_data, var1_set, var2_set, var1_name, var2_name))

In [8]:
output_file_path="testcases\\two variable testcases.json"
with open(output_file_path,'w') as file:
    json.dump(test_cases,file,indent=4)

In [10]:
def generate_test_cases_three(json_data, var1_set, var2_set, var3_set, var1_name, var2_name, var3_name):
    test_cases = []

    for var1 in var1_set:
        for var2 in var2_set:
            for var3 in var3_set:
                ans = []
                
                # Construct query based on variable names
                if var1_name == 'board' and var2_name == 'location' and var3_name == 'amenities':
                    query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board schools in {var2} with {var3}"
                elif var1_name == 'board' and var2_name == 'location' and var3_name == 'sports':
                    query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board schools in {var2} with {var3}"
                elif var1_name == 'board' and var2_name == 'category' and var3_name == 'amenities':
                    query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board {var2.replace('Schools','')} schools with {var3}"
                elif var1_name == 'category' and var2_name == 'location' and var3_name == 'amenities':
                    query = f"{var1.replace('Schools','')} schools in {var2} with {var3}"
                else:
                    query = f"schools with {var1}, {var2}, and {var3}"
                
                for dictionary in json_data:
                    if (var1.lower() in dictionary[var1_name.capitalize()].lower() and 
                        var2.lower() in dictionary[var2_name.capitalize()].lower() and 
                        var3.lower() in dictionary[var3_name.capitalize()].lower()):
                        ans.append(dictionary["Id"])
                
                if len(ans) != 0:
                    test_cases.append({"query": query, "ans": ans})

    return test_cases

In [12]:
def generate_test_cases_four(json_data, var1_set, var2_set, var3_set, var4_set, var1_name, var2_name, var3_name, var4_name):
    test_cases = []

    for var1 in var1_set:
        for var2 in var2_set:
            for var3 in var3_set:
                for var4 in var4_set:
                    ans = []
                    
                    # Construct query based on variable names
                    if var1_name == 'board' and var2_name == 'category' and var3_name == 'location' and var4_name == 'amenities':
                        query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board {var2.replace('Schools','')} schools in {var3} with {var4}"
                    elif var1_name == 'board' and var2_name == 'category' and var3_name == 'location' and var4_name == 'sports':
                        query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board {var2.replace('Schools','')} schools in {var3} with {var4}"
                    elif var1_name == 'board' and var2_name == 'category' and var3_name == 'amenities' and var4_name == 'sports':
                        query = f"{var1.replace('board','').replace('Boards','').replace('Board','')} board {var2.replace('Schools','')} schools with {var3} and {var4}"
                    elif var1_name == 'category' and var2_name == 'location' and var3_name == 'amenities' and var4_name == 'sports':
                        query = f"{var1.replace('Schools','')} schools in {var2} with {var3} and {var4}"
                    else:
                        query = f"schools with {var1}, {var2}, {var3}, and {var4}"
                    
                    for dictionary in json_data:
                        if (var1.lower() in dictionary[var1_name.capitalize()].lower() and 
                            var2.lower() in dictionary[var2_name.capitalize()].lower() and 
                            var3.lower() in dictionary[var3_name.capitalize()].lower() and 
                            var4.lower() in dictionary[var4_name.capitalize()].lower()):
                            ans.append(dictionary["Id"])
                    
                    if len(ans) != 0:
                        test_cases.append({"query": query, "ans": ans})

    return test_cases

In [13]:
test_cases_three = []
test_cases_four = []

sets_and_names_three = [
    (board_set, category_set, amenities_set, 'board', 'category', 'amenities'),
    (board_set, category_set, sports_set, 'board', 'category', 'sports'),
    (board_set, location_set, amenities_set, 'board', 'location', 'amenities'),
    (board_set, location_set, sports_set, 'board', 'location', 'sports'),
    (category_set, location_set, amenities_set, 'category', 'location', 'amenities'),
    (category_set, location_set, sports_set, 'category', 'location', 'sports'),
    (location_set, amenities_set, sports_set, 'location', 'amenities', 'sports')
]

sets_and_names_four = [
    (board_set, category_set, location_set, amenities_set, 'board', 'category', 'location', 'amenities'),
    (board_set, category_set, location_set, sports_set, 'board', 'category', 'location', 'sports'),
    (board_set, category_set, amenities_set, sports_set, 'board', 'category', 'amenities', 'sports'),
    (board_set, location_set, amenities_set, sports_set, 'board', 'location', 'amenities', 'sports'),
    (category_set, location_set, amenities_set, sports_set, 'category', 'location', 'amenities', 'sports')
]

# Generate test cases for three variables
for var1_set, var2_set, var3_set, var1_name, var2_name, var3_name in sets_and_names_three:
    test_cases_three.extend(generate_test_cases_three(json_data, var1_set, var2_set, var3_set, var1_name, var2_name, var3_name))

# Generate test cases for four variables
for var1_set, var2_set, var3_set, var4_set, var1_name, var2_name, var3_name, var4_name in sets_and_names_four:
    test_cases_four.extend(generate_test_cases_four(json_data, var1_set, var2_set, var3_set, var4_set, var1_name, var2_name, var3_name, var4_name))

# Save test cases to JSON files
output_file_path_three = "testcases\\three_variable_testcases.json"
with open(output_file_path_three, 'w') as file:
    json.dump(test_cases_three, file, indent=4)

output_file_path_four = "testcases\\four_variable_testcases.json"
with open(output_file_path_four, 'w') as file:
    json.dump(test_cases_four, file, indent=4)